body {
    margin: 0px;
    background-color:#f2e9de ;
    color:#56949f;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  #mynotes {
    display: inline-block;
    background-color: #faf4ed;
    width: 100%;
    height: 300%;
    font-family: "Share Tech", sans-serif;
  }

  #mynotes #mynote {
    text-align: center;
    font-family: "Share Tech", sans-serif;
    font-size: 15px;
    padding: 5px;
  }

#mynotes #note1,#note2 {
  list-style-type: square;
  width: 70px;
}
#takebetternotes {
  display: grid;
  grid-template-rows: 6;
  row-gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Share Tech", sans-serif;
}