body {
  margin: 0px;
  background-color: #f2e9de;
  color: #56949f;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: "Share Tech", sans-serif;
}
#mynotes {
  display: inline-block;
  background-color: #faf4ed;
  width: 100%;
  height: 300%;

}

#mynotes #mynote {
  text-align: center;
  font-size: 15px;
  padding: 5px;
}

#mynotes #note1,
#note2 {
  list-style-type: square;
  width: 70px;
}
#takebetternotes {
  display: grid;
  grid-template-rows: 6;
  row-gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
 
}

#header {
  font-size: 15px;
  text-align: center;
}
.menuitem {
  display: flex;
  flex-direction: row-reverse;
  /* text-decoration: none; */
  font-size: 15px;
}
.menuitem a{
  margin-left: 10px;
}
#newdark {
  display: flex;
  justify-content: space-between;
}
#newnote,
#save {
  background-color: #56949f;
}
#darktheme {
  background-color: #9893a5;
}
#cancel {
  background-color: #ea9a97;
}
#area {
  width: 100%;
  height: 100%;
  background-color: #faf4ed;
  border: 2px solid #286983;
 
}
#newdark {
  display: flex;
  justify-content: space-between;
}
.footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

#controls {
  display: flex;
  flex-direction: row-reverse;
}

a.button {
  display: inline-flexbox;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 4px 8px 4px 8px;
  
}

@media (min-width: 600px) {
  #menu {
    display: inline-block;
    margin-bottom: 30px;
  }
}
