body {
    margin: 0px;
    background-color:#f2e9de ;
    color:#56949f;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  #mynotes {
    display: inline-block;
    background-color: #faf4ed;
    width: 100%;
    height: 300%;
    font-family: "Share Tech", sans-serif;
  }

  #mynotes #mynote {
    text-align: center;
    font-size: 55px;
    font-family: "Share Tech", sans-serif;
    font-size: 15px;
    padding: 5px;
  }